<!-- Banner Section Strat -->
<section class="apis-banner inner-banner">
    <div class="container">
        <h1>APIs for Nonprofit Data</h1> 
        <p class="api-paragraph"><span class="yellow-highlight">We are proud to offer custom APIs for any nonprofit data project.</span> Whether you are powering your public-facing website or integrating a nonprofit data feed into a larger analytics pipeline, <span class="yellow-highlight"><a href="mailto:inquiries@appliednonprofitresearch.com">contact us now</a></span> to find out how we can help you move forward with your project.</p>
</section>
<!-- Banner Section End -->
