<!-- Coming soon! Section Strat -->
<section class="comingSoonSec">
    <div class="comingtitle">
       <h2>From $350 / mo!</h2>
    </div>
    <div class="container">
        <div class="boxcontner">
           <div class="box">
               <h4>Choose your variables</h4> 
               <ul>
                  <li>Nearly all fields on forms 990, 990-EZ, 990-PF, or schedules</li>
                  <li>Data available from 2010 onwards</li>
                  <li>Combine information across forms and years</li>
               </ul>
           </div>
           <div class="box">
               <h4>Choose your criteria</h4> 
               <ul>
                  <li>Include all organizations or define custom filters</li>
                  <li>Discover new organizations that match your need</li>
                  <li>Custom search engines available</li>
               </ul>
           </div>
           <div class="box">
               <h4>Choose your integrations</h4> 
               <ul>
                   <li>Notify your existing service of new data</li>
                   <li>Manual approval and override of data</li>
                   <li>Define your CORS and API key requirements</li>
               </ul>
           </div>
        </div>
        <div class="bottonLink">
            <p class="page-scroll">Each custom API operates in its own isolated environment for high security and reliability. <span class="yellow-highlight"><a href="mailto:inquiries@appliednonprofitresearch.com">Contact us</a> to discuss your project today!</span></p>
        </div>                
    </div>
</section>
<!-- Coming soon! Section End -->
