<div class="main-content-wrap">
	<section class="hero-section">
		<div class="container">
			<h1>Using public IRS data on the nonprofit sector should be easy.</h1>
			<div class="row">
				<div class="col-4">
					<div class="item-single">
					<img src="{{.Site.BaseURL}}images/hero-icon-01.svg" alt="">
					<h3>APIs and website back-ends</h3>
					<p>Power your website or service with up-to-date information from the IRS.</p>
					<a href="{{.Site.BaseURL}}api/" class="btn btn-white">Learn More</a>
				</div>
				</div>
				<div class="col-4">
						<div class="item-single">
						<img src="{{.Site.BaseURL}}images/hero-icon-02.svg" alt="">
						<h3>Custom datasets</h3>
						<p>Get the data you need for research, prospecting, fundraising, or business intelligence.</p>
						<a href="{{.Site.BaseURL}}customdata/" class="btn btn-white">Learn More</a>
					</div>
				</div>
				<div class="col-4">
						<div class="item-single">
						<img src="{{.Site.BaseURL}}images/hero-icon-03.svg" alt="">
						<h3>Analysis & Consulting</h3>
						<p>Reports, visualizations, and dashboards on any aspect of the nonprofit sector.</p>
						<a href="mailto:inquiries@appliednonprofitresearch.com" class="btn btn-white">Contact us</a>
						</div>
				</div>
			</div>
		</div>
	</section>
</div>